In [1]:
import numpy as np
import pandas as pd

In [2]:
#Seriler

In [3]:
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [4]:
s1.dtype

dtype('int32')

In [5]:
s1.nbytes

28

In [6]:
#shape, ndim, len(s1), size

In [7]:
s1.count()

7

In [8]:
s0 = pd.Series([1,2,3], index = ['a', 'b', 'c'])
s0

a    1
b    2
c    3
dtype: int64

In [9]:
s1.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [10]:
v2 = np.random.random(10)
ind2 = np.arange(0, 10)
s = pd.Series(v2, ind2)
v2, ind2, s

(array([0.19877803, 0.37329316, 0.02682258, 0.36840808, 0.11765847,
        0.23386506, 0.57547432, 0.88436227, 0.25155665, 0.47146694]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.198778
 1    0.373293
 2    0.026823
 3    0.368408
 4    0.117658
 5    0.233865
 6    0.575474
 7    0.884362
 8    0.251557
 9    0.471467
 dtype: float64)

In [11]:
dict1 = {'a1':10, 'a2':20, 'a3':30, 'a4':40}
s3 = pd.Series(dict1)
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [12]:
pd.Series(99, index = [0,1,2,3,4,5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

In [13]:
#Slicing (Bölme)

In [14]:
s[0:3]

0    0.198778
1    0.373293
2    0.026823
dtype: float64

In [15]:
s[-1:]

9    0.471467
dtype: float64

In [16]:
s[:-2]

0    0.198778
1    0.373293
2    0.026823
3    0.368408
4    0.117658
5    0.233865
6    0.575474
7    0.884362
dtype: float64

In [17]:
s[-3:-1]

7    0.884362
8    0.251557
dtype: float64

In [18]:
#Append (Birleştirme)

In [19]:
s2 = s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [20]:
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [21]:
s4 = s2.append(s3)
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [22]:
s4.drop('a4', inplace = False)

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [23]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [24]:
s4.drop('a4', inplace = True)

In [25]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [26]:
s4 = s4.append(pd.Series({'a4':7}))
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4     7
dtype: int64

In [27]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1, s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [28]:
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [29]:
s1.sub(s2) #s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [30]:
#add, mul, multiply, div, divide, max(), min(), mean(), std()

In [31]:
s2.equals(s1)

False

In [32]:
s5 = pd.Series([1,1,2,2,3,3], index = [0,1,2,3,4,5])

In [33]:
s5.value_counts()

1    2
2    2
3    2
dtype: int64

In [34]:
#DataFrames (Veri Çerçeveleri)

In [35]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [36]:
lang = ['Java', 'Python', 'C', 'C++']
df = pd.DataFrame(lang)
df

        0
0    Java
1  Python
2       C
3     C++

In [37]:
rating = [1,2,3,4]
df[1] = rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4

In [38]:
df.columns = ['Languages', 'Rating']

In [39]:
df

  Languages  Rating
0      Java       1
1    Python       2
2         C       3
3       C++       4

In [40]:
data = [{'a' : 1, 'b' : 2}, {'a' : 5, 'b' : 10, 'c' : 20}]

df2 = pd.DataFrame(data)
df3 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b'])
df4 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b', 'c'])
df5 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b', 'c', 'd'])

In [41]:
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [42]:
df3

      a   b
row1  1   2
row2  5  10

In [43]:
df4

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [44]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [45]:
mydict = {'A' : pd.Series([1,2,3], index = ['a', 'b', 'c']),
          'B' : pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])}

df1 = pd.DataFrame(mydict)
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [47]:
#Data indeksli ve random değerli Dataframe oluşturma
dates = pd.date_range(start = '2023-04-22', end = '2023-04-28')
dates

DatetimeIndex(['2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25',
               '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='D')

In [49]:
dates = pd.date_range('today', periods = 7)
dates

DatetimeIndex(['2023-04-28 23:00:38.692812', '2023-04-29 23:00:38.692812',
               '2023-04-30 23:00:38.692812', '2023-05-01 23:00:38.692812',
               '2023-05-02 23:00:38.692812', '2023-05-03 23:00:38.692812',
               '2023-05-04 23:00:38.692812'],
              dtype='datetime64[ns]', freq='D')

In [50]:
dates = pd.date_range(start = '2023-04-22', periods = 7)

In [51]:
dates

DatetimeIndex(['2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25',
               '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='D')